.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.VideoFundo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.conteudo {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 2rem;

  text-align: center;
}

.titulo {
  font-family: var(--FonteTitulo);
  font-size: 7rem;
  font-weight: 300;
  color: var(--AzulSuave);

  margin-bottom: 2rem;
}

.slogan * {
  font-family: var(--FonteBase);
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--AzulPolar);

  min-height: 4rem;

  margin-bottom: 3rem;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  min-width: 10rem;

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 1rem;

  background-color: var(--AzulSuave);
  
  cursor: pointer;
  color: var(--AzulEscuro);

  font-family: var(--FonteBase);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;

  transition: all 0.3s ease;
}

.botao:hover {
  transform: translateY(-0.2rem);
  filter: brightness(1.05);
}

.botao:active {
  transform: translateY(0);
}