.contato {
  width: 90%;
  max-width: 90rem;

  margin: 5rem auto;
  padding: 4rem;

  background-color: var(--AzulEscuro);

  border-radius: 2rem;

  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.info {
  flex: 1;
}

.info h2,
.formulario h2 {
  color: var(--AzulGelo);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.info p {
  color: var(--AzulGelo);
  font-size: 1.2rem;
  max-width: 25rem;
  line-height: 1.5;
}

.ilustracao {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.ilustracao img {
  width: 20rem;
}

.balao {
  background: var(--AzulGelo);
  width: 220px;
  height: 180px;
  border-radius: 50%; /* Círculo perfeito ou oval */
  position: relative; /* Base para prender as bolinhas */
  
  /* Centraliza o texto */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
  
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  
  margin-bottom: 10rem;
}

/* Bolinha média */
.balao::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--AzulGelo);
  border-radius: 50%;
  
  /* Posiciona no canto inferior esquerdo */
  bottom: -20px;
  left: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Bolinha pequena */
.balao::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--AzulGelo);
  border-radius: 50%;
  
  /* Posiciona um pouco mais abaixo e mais para a esquerda */
  bottom: -45px;
  left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/* Texto de fala*/
.balao p {
  color: var(--AzulEscuro);
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  line-height: 1.3;
}


.formulario {
  flex: 1;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formulario input,
.formulario textarea {
  color: var(--CorTexto);
  width: 100%;
  font-family: var(--FonteBase);
  background-color: var(--AzulSuave);
  
  border: none;
  border-radius: 1rem;

  padding: 1.2rem;

  font-size: 1rem;
}

.formulario textarea {
  resize: none;
  height: 12rem;
}

.formulario button {
  width: 60%;

  margin: auto;

  border: none;
  border-radius: 1rem;

  padding: 1rem;

  background-color: var(--AzulSuave);

  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  transition: .3s;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  color: var(--CorTexto);
  opacity: 1;
}

.formulario button:hover {
  transform: translateY(-0.2rem);
}

@media (max-width: 900px) {
  .contato {
    flex-direction: column;
    padding: 2rem;
  }

  .ilustracao {
    flex-direction: column;
  }

  .formulario button {
    width: 100%;
  }

  .info h2,
  .formulario h2 {
    font-size: 2rem;
  }
}